In [1]:
print("hello world")

hello world

Write a Python program that takes a number from the user and checks whether it is odd or even and whether it is divisible by 3. The program should inform the user in a meaningful way whether the number is odd or even and whether it can be divided by 3.

In [4]:

number = int(input("enter a number: "))
is_even = number % 2 == 0
is_divisible_by_3 = number % 3 == 0

if is_even:
    odd_or_even = "even"
else:
    odd_or_even = "odd"

if is_divisible_by_3:
    divisible_by_3 = "can be divided by 3"
else:
    divisible_by_3 = "cannot be divided by 3"

print("{} is an {} number and it {}".format(number, odd_or_even, divisible_by_3))

enter a number: 6
6 is an even number and it can be divided by 3

In [5]:
print('Being a good person')

Being a good person

In [6]:
print("   .   ") # tırnak içerisinde yazılan her şey string veri tipidir. Boşluklar da dahil...
# tek tırnakla başlayan tekle, çiftle başlayan çiftle bitecek

   .

In [7]:
print("I'm happy to learn...")

I'm happy to learn...

In [8]:
print('Arkadaşım "merhaba" dedi...')

Arkadaşım "merhaba" dedi...

In [9]:
print("Arkadaşım 'merhaba' dedi")

Arkadaşım 'merhaba' dedi

''' Üç tırnak kullanmak uzun metinlerde her zaman daha mantıklı olabilir.
Dörtlü tırnak yoktur. Çalışmaz...

In [10]:
print('''tekrar yapıyorum''')

tekrar yapıyorum

In [11]:
print("""Bana "topçu" diye bağırdı. I'm happy to see you""")

Bana "topçu" diye bağırdı. I'm happy to see you

In [12]:
print('''Bana "topçu" diye bağırdı. I'm happy to see you''')#Tekli üçlü tırnak da çıktı alır.

Bana "topçu" diye bağırdı. I'm happy to see you

In [15]:
print("3.14")
print(3.14)

3.14
3.14

In [16]:
print("print(3.14)")

print(3.14)

In [17]:
print(''''We should have enough time for our family"''')

'We should have enough time for our family"

In [25]:
print('''''''''''')# tırnaklar birbirini karşıladığı için boş string aldı...

In [26]:
print('We should have enough time for our family")
# tek tırnakla başlayıp çiftle bittiği için hata verir

SyntaxError: unterminated string literal (detected at line 1) (3699068048.py, line 1)

In [27]:
print('first line')
print()
print('third line')

first line

third line

In [28]:
print()
print('') # iki boş satır çıktı verir...

In [32]:
print('first line')
print("second line")

first line
second line

# PEP 8 - Python Kodlama Stili Rehberi

## Kod Düzeni

    Satır uzunluğu en fazla 79 karakter olmalı.
    Fonksiyon ve sınıf tanımları arasında iki boşluk bırakılmalı.
    Sınıf içi metodlar arasında bir boşluk bırakılmalı.

## Girintileme

    Girintileme için 4 boşluk kullanılmalı (tab kullanılmamalı).
    
## Satır Sonu Karakterleri

    Unix stili satır sonu karakterleri (LF) kullanılmalı.
    
## Kod Yapısı

    İçe aktarımlar (import) her zaman dosyanın en başında olmalı.
    İçe aktarımlar standart kütüphaneler, üçüncü parti kütüphaneler ve yerel kütüphaneler sırasıyla üç ayrı blokta yapılmalı.
    
## Boşluk Kullanımı

    Fonksiyon çağrılarında ve dizinlerde parantez içlerinde boşluk bırakılmamalı: func(a, b) veya list[index].
    Atama operatörünün etrafında bir boşluk bırakılmalı: x = 1.
    
## Yorum Satırları

    Yorumlar güncel ve anlamlı olmalı, kodu açıklamalı.
    Satır içi yorumlardan kaçınılmalı.
    Blok yorumlar ve tek satırlık yorumlar uygun şekilde kullanılmalı.
    
## Dokümantasyon Dizgeleri (Docstrings)

    Tüm genel modüller, fonksiyonlar, sınıflar ve metodlar docstring içermeli.
    Docstringler, üç tırnak işareti içinde olmalı: """Example""".

## Adlandırma Kuralları


    Fonksiyon ve değişken adları küçük harflerle ve gerektiğinde alt çizgi ile ayrılmış olmalı: my_function.
    Sınıf adları CamelCase kullanılmalı: MyClass.
    Sabitler büyük harflerle ve alt çizgi ile ayrılmış olmalı: MY_CONSTANT.

## Kod Organizasyonu

    Sınıflar ve üst seviye fonksiyonlar modülün başında yer almalı.
    Ana kod bloğu if __name__ == "__main__": koşulu içinde bulunmalı.

## İstisna Yönetimi

    İstisnalar try-except blokları ile yönetilmeli.
    Belirli istisna türleri yakalanmalı ve gerektiğinde finally bloğu kullanılmalı.

In [35]:
print("hello world")  # Bu benim code ile aynı satırda olan ilk comment'im 
                      # inline comment
# Single comment: satırda hiçbir code yoksa olur... Like this
# print("hello") burada ctl / (slash) yaparak satırın tamamını commente çevirdim.
# ctrl / tekrar çalıştırılırsa commenti tekrar eski haline çevirir.
# Bir satırda hem cod hem de commentler varsa buna multi-line comment denir.
# comment: neccesary, sufficient and updated olmalı

hello world

Docstring: ._doc_ comment2ten farklı olarak daha çok metin ve açıklamanın yer aldığı açıklama bölümüne benzer metinlerdir. fonksiyonun dokümantasyonu anlamına gelir. print.__doc__ yazdığımız zaman print fonksiyonunun açıklamasına ulaşabiliriz.

In [ ]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [ ]:
print(print.__doc__) # bu şekilde de görebiliriz.

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
print(map.__doc__)

In [ ]:
print(sum.__doc__)

In [ ]:
print(input.__doc__)

In [ ]:
input()

NAMİNG VARİABLE
****küçük harfler kullanılır, büyük harf tercih edilmez, sözcükler arasında _ kullanılır, küçük L kullanılmaz, büyük "O" 0 ile karışabilir, bunların hepsi çalışır ama kafa karıştırır. Python a ait belli keywordleri kullanmamalıyız. keyword lerin rengi farklı oluyor zaten.
**** Python case sensitive dir. Yani büyük harf küçük harf duyarlıdır. Büyük harf ve küçük harf birbirinden farklıdır.
****İsimler rakamla başlayamaz, arada rakam olabilir, aralarında boşluk olmaz, özel karakterler kullanılmaz

In [ ]:
# variable_name = value
x = 11
print(x)
y = 22.5
print(y)
z = "otuz üç"
print(z)

In [ ]:
my_age = 33
your_age = 30
my_age = your_age # son atanan değişken değeri güncel olur. Sağdaki değeri eşittirin soluna atar.
print(my_age)

In [ ]:
x = 10
x = 12
x = 13
x = 14
print(x) # x e atanan en son değeri çıktı alır.

In [ ]:
xx = 11
yy = 21
zz = 15
xx = yy
zz = xx
print(xx,yy,zz)

In [ ]:
cht = 14

In [ ]:
cht%/&%tsc = 15

In [ ]:
yağmur = "sağanak" # ğ gibi Türkçe karakterlerde problem çıkarmadığını görüyoruz.

In [ ]:
# Name okunabilir, anlamlı ve değerle uyumlu olarak verilmelidir.

In [ ]:
# Average incom of February
avg_income_feb = "...."

BASİC DATA TYPES

İnteger

String

Numeric:

Float

Boolean

In [ ]:
january = march = may = july = august = october = december = 31
april = june = september = november = 30
february = 28
print(january, february, march, april, may, june, july, august, september, october, november, december)

In [ ]:
january,march,may,july,august,october,december = 31,31,31,31,31,31,31
april,june,september,november = 30,30,30,30
february = 28
print(january, february, march, april, may, june, july, august, september, october, november, december)

In [ ]:
11 = 12
print(11)

In [ ]:
thomas = 33
marry = 28
walter = None # Bir değişkeni boş bırakıp daha sonra kullanmak istiyorsam
              #  None değeri atarım...
isabella = 46

In [ ]:
website ="apple.com"
print(website)
website = "clarusway.com"
print(website) # Bir değişkene sonradan burada olduğu gibi yeni bir değer atayabiliriz.

In [ ]:
website

In [ ]:
x = 11
y = 12
z = 13
x = 14
z = 15
x = 16
print(x,y,z)

In [ ]:
a, b , c = 5, 3.2, "Hello" # eşitliğin iki tarafındaki değişken ve değer sayısı eşit olacak.
print(a)
print(b)
print(c)

In [ ]:
my_text = "Being a good person"
my_text = 'Being a good person'
my_text = '''Being a good person''' # string iterable dır. yani elemanlarına teker teker ayrılabilir.
# string veri tırnaklarla yapılır
type(my_text) # bir değikenin type'ını yandaki type fonksiyonuyla öğrenebiliriz.
# str: string değerlerin type ıdır.

In [ ]:
x = 632
print(x)

In [ ]:
print(type(x))

In [ ]:
# integer tamsayılardır. int

my_integer = 40
negative_integer = -18
print(my_integer,negative_integer)
print(type(my_integer),type(negative_integer))

In [ ]:
# float ondalık sayılardır. float
my_float = 40.0
negative_float = -18.66
print(my_float,negative_float)
print(type(my_float),type(negative_float))

In [ ]:
# Herhangi bir değişkenin değeri True veya False ise o bir bloolean'dır.

TYPE CONVERSİON YANİ VERİ TÜRLERİNİN BİRBİRİNE DÖNDÜRÜLMESİ

In [ ]:
import random

namelist = []
while len(namelist) < 9:
    namelist.append(input("Lütfen adınızı giriniz:"))
    if len(namelist) == 9:
        print("Kuramız sona erdi")
nameindex = random.randint(0, len(namelist))
input("Lütfen kurayı sonlandırın!")
print('Tebrikler {}! Günün takım lideri sensin!'.format(namelist[nameindex]))

In [ ]:
import random

namelist = []
while True:
    namelist.append(input("Lütfen adınızı giriniz:"))  #Stored in namelist[0]
    if len(namelist) == 2:
        print("Kuramız sona erdi")
        break
nameindex = random.randint(0, len(namelist))
input("Lütfen kurayı sonlandırın!")
print('İyi iş {}. Günün takım lideri sensin!'.format(namelist[nameindex]))

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

In [ ]:
liste = ["ali", "veli","hasan"]
liste[-1]

In [ ]:
my_data = "I am string"
# str() bu şekilde her türlü veriyi stringe çevirebiliriz.
# int()
# float()
print(str(True))
pi = 3.14
print(type(pi))
converted_str = str(pi)
print(converted_str)
print(type(converted_str))

In [ ]:
print(type(float(True)))
print(float(True))
print(True)

In [ ]:
# from float to integer' a dönüştürürken ondalık kısmı yuvarlar yani
# virgülden sonrasını tamamen atar.
pi = 3.14
print(type(pi))
converted_pi = int(pi)
print(converted_pi)
print(type(converted_pi))

In [ ]:
# from integer to float and string: String'in içindeki tam sayı rakamla olursa döndürür, diğer durumlarda döndürmez.
a = "10"
print(int(a))
x = 3
print(type(x))
converted_x = float(x)
print(converted_x)
print(type(converted_x))

In [ ]:
b = "11" # String değeri başka bir değişkene atamazsak type yine string olur
         # Ancak döndürmek istediğimiz veri tipinin sonucunu çıkrı alabiliriz.
print(int(b))
print(type(b))
c = int(b)
print(type(c))

In [ ]:
alfa = "2.5"
print(float(alfa))
print(type(alfa))
beta = float(alfa)
print(type(beta))

In [ ]:
3 + "3"

In [ ]:
num1 = int(input("What is your first number? "))
num2 = int(input("What is your second number? "))
num3 = int(input("What is your third number? "))
numlist = [num1, num2, num3]
print(numlist)
print("Now I will remove the 3rd number")
print(numlist.pop(2) , " has been removed")
print("The list now looks like " , str(numlist))

In [ ]:
3 + int("3")

In [ ]:
str(3) + "3"

In [ ]:
3 + float("3") # Float bir değerle işlem yapıldığında sonucu her zaman float olacaktır.

SIMPLE OPERATION

Aritmetic Operators

In [ ]:
# / Bölme işlemidir ve sonucu Float olarak verir.
# // Bölme işlemidir ve tam sayı olarak bölümü verir
#  % Bölme işlemidir. Mod alma denir. Bölmede kalanı verir.
# modulus 2 de kalan 1 ise tektir, kalan 0 ise çiftttir.

In [ ]:
20 / 2

In [ ]:
29 // 3

In [ ]:
31 // 3

In [ ]:
21 % 2

In [ ]:
29 % 3

In [ ]:
print(11-7)

In [ ]:
print(4+11.0)

In [ ]:
print('11-7')

In [ ]:
print('4' + 4) # hata verir çünkü bir str ile int toplanamaz. İkisinin de aynı type olması gerekir.

In [ ]:
pi = 3.14 # dairenin alanını hesaplayalım.
r = 5
area = pi * r**2
print(area)

In [ ]:
print(11%2)
print(4*5/2)

In [ ]:
print(1**3)
print(3**2)
a = 2
b = 8
print((a*b)**0.5)

In [ ]:
a = 0
a

In [ ]:
a = a + 1
a

In [ ]:
a = a +1
a

In [ ]:
a = a + 1
a

In [ ]:
b = 4
b

In [ ]:
b = b - 1
b

In [ ]:
b = b -1
b

In [ ]:
b = b - 1
b

In [ ]:
c = 2
c

In [ ]:
c = c * 2
c

In [ ]:
c = c*2
c

In [ ]:
# n = n + 1   ==  n += 1 bu diğer bütün aritmetic operatorlerimizde geçerlidir
# İşlem öncelik sırası: önce parantez, son power ** yani üslere bakar,
# sonra negatif sayıları parantez içinde gibi algılar, sonra çarpma * ve bölme /,
# daha sonra toplama ve çıkarma işlemlerini yapar.

In [ ]:
a = 3
b = 4
c = (a ** 2 + b ** 2) ** 0.5
print(c)

In [ ]:
25**0.5

OPERATİON WİTH PRİNT FUNCTİON

In [ ]:
# print() in içine hem değişkeni hem de değeri yazarak çıktı alabiliriz.
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False) value: içine yazılmasını istediğimiz şeylerdir.
# sep='' default u space tir. tanımlama yapılırsa sep='+++' şeklindeki gibi boşluk değil value arasına +++ koyar.
# end='\n' default u new line dır. yani kabaca enter tuşuna basmaktır.

In [ ]:
print("11----",  "----cihat",sep= "***")

In [ ]:
print("ahmet", "mehmet", "sevilay")
print("ahmet", "mehmet", "sevilay", sep='-')
print("ahmet", "mehmet", "sevilay", sep='+++')

In [ ]:
print("ahmet", "mehmet", "sevilay", sep='\n')

In [ ]:
print("ahmet", end='-')
print("mehmet", end=' ')
print("sevilay")
print("sevilay")

In [ ]:
print("clarusway", end='\n\n')
print('istanbul',end='\n\n\n')
print("end ile aslında satırabi  enter vurmuş oldum")

ESCAPE SEQUENCES

In [ ]:
# \n means newline
# \t means tab mark
# \b means backspace. It moves the cursor one charecter to the left
print("\"")
print('C:\\\north pole\noise_penguins.txt') # \\ çift backslash olunca normal str olmuş oluyor.
print("_ _ _ _ _ _ _ _ _")
print('first', 'second', 'third', sep='\t')

BOOLEAN OPERATİON

In [ ]:
# True veya False value alır.
# and operatörü: Bir satırda hepsi True ise and en sondaki(sağdaki) değeri verir. Aksi halde ilk False' döndürür.
# Yani bir tane bile False varsa False'a çevirir. Birden fazla False varsa o zaman ilk False döndürür.

# or operatörü eğer hepsi False ise en sondakini verir. Eğer bir tane bile True varsa ilk True yu verir.

# not operatörü önüne geldiği ifadeyi tersine döndürür. yani True'nun önüne gelirse False yapar; False'ın önüne gelirse True yapar

#  Order of priority: 1- not 2- and 3-or ama eğer parantez varsa öncelik tabiki parantezindir.

Falsy Values in Python

In [ ]:
# Python'da her değerin bir truty veya falsy değeri vardır.
# None
# Zero: 0, 0.0, 0j
# ''(Boş str), [] (Boş list), {} (Boş dictionary) falsy'dir.

# Geri kalan her şey Truety dir.

In [ ]:
1 and True

In [ ]:
1 and 1 and 1 and 1 and 0

In [ ]:
2 and 3

In [ ]:
0 and 1

In [ ]:
3 and 2 and 1

In [ ]:
bool("") # String verinin içinde boş elemanolduğu için False verdi

In [ ]:
bool(" ") # burada stringin içinde space değeri olduğu için boş değil. Bu nedenle True verdi.

In [ ]:
bool(0.0)

In [ ]:
bool(0j)

In [ ]:
bool(0)

In [ ]:
print(2 and "hello world")
print([] and "be happy")
print(None and ())

In [ ]:
bool(()) # boş tupple da False

In [ ]:
2 or 3

In [ ]:
None or 1

In [ ]:
none or 1

In [ ]:
"none" or 1

In [ ]:
print(2 or "hello world")
print([] or "be happy")
print({} or 0)
print({0} or False)
print(bool({0}))

In [ ]:
True or False and "False"and not "False" and 0

In [ ]:
not ("None" or None) and False or ("and" and not ()) # örneği atomlarına parçalayalım

In [ ]:
not "None" and False or True

In [ ]:
False and False or True

In [ ]:
False or True

In [ ]:
print(False or {0} and [])

In [ ]:
{0} and []

In [ ]:
False or []

THE STRENGTH OF THE STRİNG

In [ ]:
# İNDEXİNG :
# Stringler iterable dır. (Yani elemanlarına ayrılabilir.) Bu nedenle elemanlarını değerin içinden seçip çıkarabiliriz.
print("ALI"[0]) # index no 0 dan başlar.
print("ALI"[1])
print("ALI"[2])

In [ ]:
isim = "cihat" #Değişkene bir değer atandıktan sonra değişken adıyla da indexleme yapılabilir.
print(isim[2])

In [ ]:
# SLİCİNG:
# [start:stop:step] Start slice'lamaya dahildir ancak stop numarası dahil değildir. Step kaçarlı olarak ilerleneceğini gösterir.
"clarus-way"[6:8]

In [ ]:
fruit = "Orange"
print("Word                 : ", fruit)
print("First letter         : ", fruit[0])
print("Second letter        : ", fruit[1])
print("3rd to 5th letters   : ", fruit[2:5])
print("Letter all after 3rd : ", fruit[2:])

In [ ]:
# [:] Baştan en sona git. 1 er 1 er.
# [2:5] 2 den başla 5-1'e kadar 1'er 1'er git.
# [2:10:2] 2'den başla 10-1'e kadar 2'şer e'şer git.

input() FUNCTİON

In [ ]:
sayı = input("bir sayı giriniz :")

In [ ]:
print(sayı)

In [ ]:
type(sayı) # input() fonksiyonu; eğer değerin type'ını belirtmezsek str olarak algılar.

In [ ]:
rakam = int(input("Bir rakam giriniz :"))

In [ ]:
print(rakam)

In [ ]:
type(rakam)

In [ ]:
city = 'Phoenix'
print(city[1:]) # 1 Den başla sonuna kadar git
print(city[:6]) # baştan başla 5 e kadar git
print(city[::2]) # baştan başla, sonuna kadar 2'şerli olarak git
print(city[1::2]) # 1'den başla sonuna kadar 2'şerli olarak git
print(city[-3:]) # -3 ten başla sonuna kadar git. negative indexing
print(city[::-1]) # negativ olarak en sağdan başla ve en başa gel

Negative İndexing

In [ ]:
fruit = "Orange"
print(fruit[-6])
print(fruit[-1])
print(fruit[-5:-2])
print(fruit[::-1])
print(fruit[-1])
print(fruit[::-2])
print(fruit[-2:-5:-1])
print(fruit[-4:-1:])
print(fruit[4:1:-1])
print(fruit[-3:-6]) # boş string değeri verir. Çünkü step negatif oloarak belirtilmemiş bu nedenle pozitif alıyor.
# Ancak pozitif aralıkta karşılığı yok.

len() FUNCTİON

In [ ]:
#  iterable bir değerin uzunluğunu verire.
len('orange')

In [ ]:
vegetable = 'tomato'
print('length of the word ', vegetable, 'is : ', len(vegetable))

STRİNG FORMATTİNG WİTH ARİTHMETİC SYNTAX

In [ ]:
print('upper' + 'case')
print('uppercase' * 3)
print(*'upper') # soluna asterix (*) koyduğumuz zaman elemanlarını iterate eder ve görünür hâle getirir.

In [ ]:
string_1 = 'I am angry...'
string_2 = '1453'
print(*string_1)
print(*string_2)
print(*'joseph@clarusway.com') # space stringin bir karakteridir. eleman olarak onu da algılar

In [ ]:
str_one = 'upper'
str_one += 'case'
print(str_one) # uppercase
str_one += 'letter'
print(str_one) # uppercaseletter
str_one += 'end'
print(str_one) # uppercaseletterend

"string".format() METHOD

In [ ]:
# 'string {} string {} string'.format(data1, data2) data1= 0. index, data2 = 1. index
# index numaralarını {} içine yazarak da formatlama yapabiliriz. Ancak .format() metodunda
# eğer bir atama yapmazsak index nu sırasıyla atanır.

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} and {} we bought is {} pounds.'\
      .format(fruit, vegetable, amount))

In [ ]:
print('{state} is the most {adjective} state of the {country}.'\
      .format(state = 'California', country = 'USA', adjective = 'crowded'))
# değişken formatın içinde tanımlanabilir. {} içine değişken adı yazılarak da formatlama yapılabilir. Buna:
# keyword, argument denir. Süslü parantezin içi boşsa sıra önemlidir.

In [ ]:
state = 'California'
country = 'USA'
adjective = 'crowded'

print('{0} is the most {2} state of the {1}.'.format(state, country, adjective))
# ******SONUÇ OLARAK*****
# 1- Parantezin içinde tanımladığım değişkenleri süslü parantez içine yazarak çıktı alabilirim.
# 2- Dışarıda tanımladığım değişkenleri, süslü parantez içine index numarası yazarak çıktı alabilirim.
# 3- Dışarıda tanımladığım değişkenleri, Positional olarak sırayla atama yaptırabilirim.

In [ ]:
#  Mix olarak hepsini gösterelim
print('{} is the most {adjective} state of the {}.'\
      .format('California', 'USA', adjective = 'crowded'))
# positional keyword ler önce yazılmak zorunda yoksa hata verir.Eğer adjective değişkenini önce yazsak hata verecekti.

In [ ]:
print('{0} is the most {2} state of the {1}.'.format('California', 'USA', 'crowded'))

In [ ]:
print('{} is the most {} state of the {}.'.format('California', 'crowded', 'USA'))

In [ ]:
print("{no} - {month} - {month}".format(no = "12", month = "Feb"))
# Bir değişkeni bir kaç süslü paranteze atayabilirim.

f-string METODUYLA STRİNG FORMATLAMA

In [ ]:
# f'string {variable1} string {variable2} string {variable3} string' syntax'i böyledir.
# string'in başına bir f gelir sonra tırnak.
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
print(f'The amount of {fruit} and {vegetable} we bought is {amount} pounds.')

In [ ]:
sample = f"{2 ** 3}" # f ile bu tarz formatlamalar da yapabiliriz.
print(sample)
print(type(sample))

In [ ]:
name = "MARIAM"
name_capt = name.capitalize()
print(name.capitalize())
print(f"My name is {name.capitalize()}") # .capitalize kelimenin sadece baş harfini büyük yapar.
print(f"My name is {name_capt}")

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
    f"Hi {name}. "
    f"You are one of the {job} "
    f"in the {domain} section."
)
print(message)
# Uzun bir stringi formatlarken görüntünün güzel ve okunaklı olması için parantez içinde alt alta bir kaç f"string" yapabiliriz.

In [ ]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWAY IT university"
print(
    f"{name} is a {age} "
    f"{gender} and she is a student "
    f"at the {school}."
    )

In [ ]:
name =
age = "young"
gender = "lady"
school = "CLRWAY IT university"
print(
    f"{name="Susan"} is a {age} "
    f"{gender} and she is a student "
    f"at the {school}."
    )

MAİN STRİNG OPERATİONS

In [ ]:
# Immutability (değiştirilemezlik)
# Stringler yerinde değiştirilemez. Ancak değişkene yeni bir değer atanarak değiştirilebilirler.
var_string = 'ClarusWay'
print(*var_string.lower())
print(*var_string)
var_string = 'ClarusWay'.lower() # Burada yeni bir değer atadık. Bu arada .lower() bütün harfleri küçük yapar.
print(*var_string) # * (asterix ile ne yapmaya çalıştığıma dikkat edelim)

In [ ]:
değişken_1 = "ClarusWay"
print(*değişken_1.upper())
değişken_1 = "ClarusWay".upper() # upper() bütün harfleri büyük yapar.
print(*değişken_1)

SEARCHİNG A STRİNG

In [ ]:
# string.startswith() Bir stringin baş karakterinden sonuna kadar arar
# string.endswith() bir stringin son karakterinden itibaren arar
# ***** HER İKİSİ DE BOOLEAN SONUÇ DÖNDÜRÜR *****
text = 'www.clarusway.com'
print(text.endswith('.com')) # Doğruysa True döndürür
print(text.startswith('www.'))
print(text.startswith('http:')) # Yanlışsa False döndürür

In [ ]:
# **** STRİNG UZUNSA ***
# string.startswith(prefix[, start[, end]])
# string.endswith(suffix[, start[, end]]) (end dahil değil) yani end-1 olmalıdır.
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@" , 9)) # index no 9 olandan başla
print(email.endswith("-", 10, 32)) # index no 10 olandan başla

In [ ]:
mail = "mailto: Clarusway admission@clarusway.com, 21 Eki 2022 Cuma, 21:08 tarihinde şunu yazdı:"
index = mail.find("clarusway.com")
mail_long = len("clarusway.com")
web_adr = mail[index:index + mail_long]
print(web_adr)

In [ ]:
mail = "mailto: Clarusway admission@clarusway.com, 21 Eki 2022 Cuma, 21:08 tarihinde şunu yazdı:"
indx = mail.index("clarusway.com")
mail_long = len("clarusway.com")
web_adr = mail[indx:index + mail_long]
print(web_adr)

In [ ]:
index

In [ ]:
para = 1000
print("{:.2f}".format(para)) # "{:.2f".format() metodunu kullanarak noktadan sonra 2 basamaklı yaptım.
para = para * 0.07 + para # pts
print("{:.2f}".format(para))
para += para * 0.07 # salı
print("{:.2f}".format(para))
para += para * 0.07 # çarş
print("{:.2f}".format(para))
para += para * 0.07 # perş
print("{:.2f}".format(para))
para += para * 0.07 # cuma
print("{:.2f}".format(para))
para += para * 0.07 # cts
print("{:.2f}".format(para))
para += para * 0.07 # pazar
print("{:.2f}".format(para))
print(type("{:.2f}".format(para)))

CHANGİNG A STRİNG

In [ ]:
# string.method(arguments) Method bir fonksiyondur ancak bir objeye bağlıdır.
# str.replace(old, new[, count])
# str.swapcase() string içindeki büyük harfleri küçük, küçük harfleri büyüğe çevirir.
# str.capitalize() stringin ilk karakterini büyük harf yapar sonrakileri küçük...
# str.upper() stringin bütün harflerini büyük yapar..
# str.lower() stringin bütün harflerni küçük yapar...
# str.title() string'deki bütün kelimelerin ilk harflerini büyük yapar.. Diğer harflerini de küçük yapar.

In [ ]:
print("cihaT taşcı".title())

In [ ]:
sentence = "I live and work in Virginia"
print(sentence.upper())
print(sentence.lower())
print(sentence.swapcase())
print(sentence) # kaynak metin değişmemiştir çünkü değişkene yeni değer tanımlamadık.

In [ ]:
text = "the better the family, the better the society"
print(text.title())
print(text.title().capitalize())
print(text.title().capitalize().swapcase())
print(text.title().capitalize().swapcase().upper())
print(text.title().capitalize().swapcase().upper().lower())
print(text.title().capitalize().swapcase().upper().lower().replace("the", "THE"))
text = text.title()
print(text)

In [ ]:
text = "S0d0me and G0m0re"
print(text.replace("0","o"))

In [ ]:
# Yukarıdaki metodların tamamı str type çıktı üretir bu nedenle:
# string.method1().method2().method3()... bu metodları sırasıyla uygular
sentence = "I live and work in Virginia"
title_sentence = sentence.title()
print(title_sentence)
changed_str = sentence.replace("i", "+")
print(changed_str)

EDİTİNG A STRİNG

In [ ]:
# string.method(arguments) str düzenlemenin yöntemleri

örnek = "       başında ve sonunda boşluk olan bir cümle......       "
print(örnek.strip())  # string.strip() stringin her iki yanındaki özel karakterleri veya boşluğu atmamızı sağlar.
print(örnek.rstrip()) # string.rstrip() stringin sağındaki özel karakteri ya da boşlukları atar.
print(örnek.lstrip()) # string.lstrip() stringin solundaki özel karakteri ya da boşlukları atar.

In [ ]:
# strip() parantez içinde default olarak boşluk alma tanımlandığı için bolukları attı
# oysa biz kendimiz parantez içine atılacak öğeyi tanımlayabilirdikç Mesela:
text = "aaa     yaz geldi bahar geldi açtı yeşil yapraklar     a   aaaaaaa"
print(text.strip("aaa"))
#  Bu işlemi .rstrip() ve .lstrip için de kullanabiliriz.

In [ ]:
ornek = "interoperability"
print(ornek.strip("yi")) # "y", "i", "yi" ya da "y", harflerini her iki taraftan atar
print(ornek.lstrip("in")) # stringimiz iki karakterli olduğu için sadece soldaki iki karakter içinde arayacak.

In [ ]:
text = "tyou can learn almost everything in pre-classz"
print(text.lstrip("t").rstrip("z").upper())
print(text.strip("tz").upper())

In [ ]:
metin = "In God wee Trust"
print(metin[0:9], metin[11:])
print(metin.replace("e", "", 1))
print(metin.replace("ee", "e"))
print(metin.replace("wee", "we").title())
print(metin.replace("wee", "We"))

COLLECTION TYPES

In [ ]:
#  ***** Collection fonksiyonları (set, list, tupple, dict) iterable olan verileri parantez içerisine alır,
# bunların elemanlarının her birini teker teker böler ve
# böldüğü her bir elemanını o collection fonksiyonunun bir elemanı haline getirir**** buna iterasyon denir
# Collection types veri kümeleridir.
# List : listeler
# Tupple : demetler
# Dictionary : sözlükler
# Set : kümeler

LİST

In [ ]:
# list() veya liste = []
# list, içerisine iterable alır.
word = "hap   py" # list fonksiyonu string bir değerdeki boşlukları da iterable olması nedeniyle listeye alır.
print(list(word))

In [ ]:
print(list("happ   yy"))

In [ ]:
print(list(111))

In [ ]:
print(list(str(111))) # integer bir veri iterable olmadığı için hata verir. Ancak bunu str yaparsak list olarak çıktı alırız.

In [ ]:
a = "123po  ıu-,.ç"
print(list(a))
b = [a]
print(b) # b'ye a liste olarak atandığı için b'nin tek elemanı a'dır.

In [ ]:
a = ["ALİ"] # Burada köşeli parantez içindeki "ALİ" listenin tek elemanı oldu.
print(a)

In [ ]:
string_1 = "I quit smoking" # list() fonksiyonu ve [] listeğe değer atama arasındaki farkı bu örnekle net bir şekilde görebiliriz.
new_list_1 = list(string_1)
print(new_list_1)  # 14 elemanlı bir liste olur.
new_list_2 = [string_1]
print(new_list_2) # tek elemanlı bir liste olur.

In [ ]:
from re import M
joseph = "joseph"
mixed_list = [11, joseph, False, 3.14, None, [1,2,3]]  #Liste içinde her türlü veriyi saklayabiliriz.
print(mixed_list)

In [ ]:
my_list = ['joseph', 'Clarusway', 2020]
new_list11 = list(my_list)
new_list22 = [my_list]
print(len(my_list))
print(new_list11)
print(len(new_list11))
print(new_list22)
print(len(new_list22))

Basic Operations with Lists

In [ ]:
# Boş liste list() veya [] şeklinde yapılır. İçine daha sonradan veri koymak için yapılır.
# .append() metodu listenin sonuna bir eleman eklemek için kullanılır.

In [ ]:
numbers = [1,4,7]
numbers.append(9) # listeleri mahallinde değiştirebiliriz. string gibi değil. yani değişkene yeniden tanımlamaya gerek yok. listenin sonuna int olarak ekleyecek.
numbers.append("9") # listenin sonuna string olarak ekleyecek
print(numbers)

In [ ]:
cc = []

In [ ]:
cc.append(11) # burada kod satırını her çalıştırdığımda cc değişkeninin sonuna eleman ekler ve değişkeni yerinde değiştirir.
cc

In [ ]:
empty_list = []
empty_list.append(1)
# empty_list.append(2)
# empty_list.append(3)
# empty_list.append(4)
empty_list

In [ ]:
# .insert() metodu listenin içinde herhangi bir yere yeni bir eleman eklemek için kullanılır.
# parantez içindeki birinci sayı index numarasıdır, ikincisi eklenecek veridir.
# İlgili index numarasına atanan veri eklenir ve diğer veriler onu sağından takip eder.
numbers = [1,4,7]
numbers.insert(2, 9)
print(numbers)
numbers.insert(2, 6)
print(numbers)

In [ ]:
city = ["los", "beirut", "tokyo"]
city[0] = True
print(city)
city[1:] = "clarus"
print(city)

In [ ]:
city1 = ["istanbul", "yozgat", "erzurum", "ankara"]
print(city1)
city1[0:2] = ["a","b"]
print(city1)
city1[0:2] = "abcd"
print(city1)

In [ ]:
#  \\ çıktı almak için ne yapmalı
print("\\")
print("\\\\")
print("\\" + "\\")

In [ ]:
a = 3
b = 4
print("{} + {} 'ün toplamı {} 'dir.".format(a, b, a+b)) # positional olarak hepsi sırayla gitti.

In [ ]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.3676, 7.324567)
print(text) # virgüllden sonraki basamak sayısı Float'larda bu şekilde yani: "{:.f}" ile ayarlanır.

In [ ]:
text = "{:.2s}, {:.3s}, {:.4s}".format("3.1463", "5.3676", "7.324567")
print(text) # sondan itibaren almasını istediğimiz karakter sayısı stringler'lerde bu şekilde yan "s" ile ayarlanır.
# . nın da string olduğunu unutmayalım.

In [ ]:
text = "{:>20}".format("clarusway")
print(text) # bu işlemle yani '>' işlemiyle 20 karakter sağa yasladık
text = "{:<20}".format("clarusway")
print(text) # bu işlemle yani '<' işlemiyle 20 karakter sola yasladık

In [ ]:
text1 = 'formatlama {:>30} formatlama'.format('test')
print(text1) # sağa yasladık

In [ ]:
text2 = 'formatlama {:<10} formatlama'.format('test')
print(text2) # sola yasladık
text2 = '{:^30}'.format('test') # sağından solundan 30 karakter hizalayarak ortaladık.
print(text2)
text2 = 'formatlama {:^20} formatlama'.format('test')
print(text2)

In [ ]:
"{:.5}".format("hippopotamus")

In [ ]:
"{:10.3}".format("hippopotamus")

In [ ]:
"{:>10.3}".format("hippopotamus")

In [ ]:
"{:<10.3}".format("hippopotamus")

In [ ]:
"{:^10.3}".format("hippopotamus")

In [ ]:
'{:.5}'.format(3.1432407568430765347345) # noktayla beraber 6 değeri alır

In [ ]:
'{:.5}'.format("3.1432407568430765347345") # noktayla beraber 5 değeri alır

In [ ]:
a = [1,2,3,4] # .insert metodunu kullanarak listenin sonuna '5' i ekledik. İndex numarasına dikkat ettik
a.insert(4, 5)
print(a)

.remove() METODU

In [ ]:
# .remove listeden elemanı kaldırır. kaldırmak istediğimiz elemanı veya index numarasını girerek elemanı listeden çıkarır
numbers = [1,4,7,9]
numbers.remove(7)

print(numbers)
numbers.remove(numbers[0])
print(numbers)

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'
city.remove(city[2]) # İstanbul elemanını index numarası girerek kaldırdım
print(city)

.sort() METODU

In [ ]:
# listenin elemanlarını sıralar.
numbers = [4,1,9,7]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()
print(city)  # Stringleri Alfabetik olarak sıraladı.

In [ ]:
mix_list = ['d', 1, 'a', 7]   # ******SIRALAMAZ****** Karışık sıralamadığı için içinden str ve int çekerek kendi içinde sıraladım.
mix_str = []
mix_int = []
for i in mix_list:
    if type(i) == str:
        mix_str.append(i)
    elif type(i) == int:
        mix_int.append(i)
mix_int.sort()
mix_str.sort()
print(mix_int)
print(mix_str)

In [ ]:
list_1 = ['one', 'four', 'Nine']
list_1.sort()
print(list_1) # NORMALDE ALFABETİK OLARAK SIRALAR ANCAK BÜYÜK HARFLE BAŞLAYAN STRİNG DEĞER VARSA İLK SIRAYA ONU ALIR.
# o zaman  biz de her zaman doğru bir sıralama elde etmek için kodumuzu yazalım. Yani alfabetik olarak doğru sıralama istiyorum

In [ ]:
list_1 = ['one', 'four', 'Nine'] # alfabetik olarak doğru sıralama için
list_2 = []
for i in list_1:
    i = str(i).title()
    list_2.append(i)

list_2.sort()
print(list_2)

In [ ]:
list_2 = ['@', '*-', 'False']  # Stringlerin Ascii kodları var. Burada buna göre büyükten küçüğe sıralıyor.
list_2.sort()
print(list_2)

ord()   ve chr() FONKSİYONLARININ KULLANIMI

In [ ]:
ord('@') # ord() fonksiyonu ile stringlerin ascii değerlerini öğrenebiliriz

In [ ]:
ord('*')

In [ ]:
chr(42) # chr() fonksiyonu Ascii değeri girilen karakterin hangisi olduğunu çıktı verir.

In [ ]:
xx = [True, False] # Flase = 0, True = 1 olduğu için sıralamaya küçükten başlıyor.
xx.sort()
print(xx)

In [ ]:
list_4 = [[3], [44], [-12]] # liste içini de en küçükten itibaren sıralıyor.
list_4.sort()
print(list_4)

In [ ]:
list_5 = [[1, 3], [44, -40], [-12, 1]] # liste içindeki ilk elemena göre sıralıyor.
list_5.sort()
print(list_5)

In [ ]:
yy = [[1, "bir"], [-1, "iki"], [3, "üç"]]  # liste içindeki ilk elemena göre sıralıyor.
yy.sort()
print(yy)

In [ ]:
yy = [["bir", 1], [-1, "iki"], [3, "üç"]] # Python tutarlı ilk elemanlarına göre sıraladığı üstteki ve bu örnekte açık bir şekilde görülüyor.
yy.sort()
print(yy)

In [ ]:
yy = [1,5,8,3,7]   # yy.sort(*, key=None, reverse = False) olduğu için küçükten büğüye sıralıyor.reverse'in default'u False'tur.
yy.sort(reverse=True)  # ancak biz bu parametreyi yy.sort(*, key=None, reverse = True) yaparsak büyükten küçüğe sıralar
print(yy)

ACCESİNG THE LİST

In [ ]:
#  İNDEXİNG AND SLİCİNG: SYNTAX: list_name[index no]
word = ['h', 'a', 'p', 'p', 'y']
print(word[0])
print(word[1])
print(word[2])
print(word[3])
print(word[4])
print(word[0])
print(word[0:4:2])

In [ ]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero,
# the second element will be 'blue'.
type(colors[2])

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list) # city_list listesinin içinde city adlı listeden oluşan tek bir eleman vardır.

In [ ]:
sehirler = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(sehirler[0])
print(sehirler[0][0])
print(sehirler[0][1])
print(sehirler[0][2])
print(sehirler[0][3])
print(sehirler[0][4])
print(sehirler[0][1:4])
print(sehirler[0][2][3]) # Istanbul' un "a"sına ulaştırmış olacak bizi.

In [ ]:
print(len([[1,2,3]][0])) # [[1,2,3]] [0] listenin ilk elemanını indexler. Yani Bize [1,2,3] listesini verir.
                         # len([1,2,3]) de; listenin 3 elemanı olduğu için 3 sonucunu verir.

range() FUNCTİON

In [ ]:
# range() function bir objenin ilkini alarak sonuncusunu almadan bir sıra üreten fonksiyondur.
range(1,11)
print(range(1,11))
number = list(range(1,11))
print(number)

In [ ]:
number = list(range(1,11)) # tek sayıları seçelim...
odd_1 = list(range(1,11,2))
odd_2 = number[0:11:2]
print(odd_1)
print(odd_2)

In [ ]:
mix_list = [1,[1,"one", 2, "two", 3, "three"], 4] # str olan numaraları seçelim...
print(mix_list[1][1::2])
print(mix_list[1][1:6:2])

Negative İndexing and Negative Slicing

In [ ]:
# Negatif index ve negatif step aynı şey değildir.
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])

.split() METODU

In [ ]:
harfler = "a b c d e f g h i j".split() # STRİNG DEĞERLERİ ELMANLARINA AYIRARAK LİSTE YAPAR
print(harfler)
harfler[7:3:-1]

In [ ]:
harfler[2:6:-1] # start indeximiz soldan başlayıp sağa  yani 6'ya gittiği için negatif step boş liste verir.

In [ ]:
"a-b-c-d".split("-")

sorted() FONKSİYONU

In [ ]:
isimler = ["ahmet", "mehmet", "ceylan", "seyhan"]
sorted(["ahmet", "mehmet", "ceylan", "seyhan"])

In [ ]:
sorted(isimler)

In [ ]:
sehirler = ["tokyo", "addis ababa", "rome", "istanbul", "rio"]
sorted(sehirler)

In [ ]:
sorted(sehirler, key = len) #  sorted fonksiyonu; sorted(iterable, *, key=None, reverse=False) şeklinde tanımlanmıştır.
# # key parametresini key = len yaparsak uzunluğuna göre yani küçükten büyüğe sıralar.
# key parametresine nasıl sorusunun cevabını veririz.

In [ ]:
sorted(sehirler, key = len, reverse = True)  # reverse'ü reverse = True yaparsam bu safer de büyükten küçüğe sıralatmış olurum.

In [ ]:
sehirler.sort(key = len, reverse = True) #   sehirler.sort(key = len, reverse = True) .sort() metodunu kullanarak da
# sıralama yapabilirim.
sehirler

In [ ]:
isimler.sort(key = len) #   sehirler.sort(key = len, reverse = True) .sort() metodunu kullanarak da
# sıralama yapabiliriz
isimler

 *******   TUPLES     ********

In [ ]:
#  Tuple'lar immutable olduğu için değiştirilemez. .append veya .remove metodları listelerde olduğu gibi Tuple'lerde kullanılamaz.
# Tuple'larda () işareti kullanılır.
# Değiştirilmesini istemediğimiz verileri Tuple'larda saklarız.
# Tuple'lar memory de daha az yer kaplar.
# Tuple'lar listelerden daha hızlı çalışır.
#  Verilerimiz Tuple ile güvende.

In [ ]:
import sys # liste ve Tuple'nin ne kadar yer kapladığını görelim.

In [ ]:
x = [1,2,3]
y = (1,2,3)

In [ ]:
print(sys.getsizeof(x))
print(sys.getsizeof(y)) # Görüldüğü gibi Tuple daha az yer kaplamaktadır.

In [ ]:
# collection type lara iterable olmayan verileri koyamıyorduk. tuple() ve () olmak üzere iki şekilde tuple yapabiliriz.
tuple_1 = ('h', 'a', 'p', 'p', 'y')
word = 'happy'
tuple_2 = tuple(word)
print(tuple_1)
print(tuple_2)

In [ ]:
benim = ["a", "b", "c"]

In [ ]:
ben_tuple = tuple(benim)
ben_tuple

In [ ]:
ben_list = list(ben_tuple) # Gördüğümüz gibi list i tuple a, tuple ı liste çevirebiliyoruz.
ben_list

In [ ]:
x = 1, 2, 3 # Python paranteze alınmayan her şeyi tuple olarak algılar. Sanki parantez varmış gibi düşünür.

In [ ]:
ad = "ali", "veli", "mehmet"
print(ad)
print(type(ad))

In [ ]:
type(x)

In [ ]:
y1 = (1)
y2 = 1
y3 = 1,

In [ ]:
type(y1)

In [ ]:
type(y2)

In [ ]:
type(y3)

In [ ]:
my_tuple = ("Solar",)
print(my_tuple, type(my_tuple), sep="\n") # Tuple'da elemanın yanına virgül koyduğumuzda type tuple olur.
#  Tek elemanlı bir tuple oluşturabilmek için yanına virgül koyarız.

In [ ]:
aa = "a", "b", "c"
aa

In [ ]:
aa = ("a", "b", "c")
aa

In [ ]:
bb = ("aa")

In [ ]:
type(bb)

In [ ]:
cc = "aa",
cc

In [ ]:
# tuple'dan liste'ye, liste'den tuple'ye çevirebiliriz.

In [ ]:
print(tuple(range(1,11)))

Tuple 'ları Nasıl Kullanabiliriz

In [ ]:
even_no = (0, 2, 4)
print(even_no[0])
print(even_no[1])
print(even_no[2])

In [ ]:
print(even_no[3])  # Tuple'larda indexing var. [3] olmadığı için hata verdi.

In [ ]:
mail = "mailto: Clarusway admission@clarusway.com, 21 Eki 2022 Cuma, 21:08 tarihinde şunu yazdı:"
print(mail.partition("clarusway.com"))

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # Tuple'ye değer atayamayız.

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple[2][2][0]
print(str_six) # indexing and slicing yapabiliriz.

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep = "\n")

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple[1:3]
print(str_six, type(str_six), sep = "\n")

In [ ]:
mix_tuple[-1]

In [ ]:
mix_tuple[-1][-1]

*******DİCTİONARY******

In [ ]:
# { } ile gösterilir. {key1 : value1, key2 : value2, key3: value3.....}
# item = key and value.
# { } ve dict() şeklinde dictionary oluşturulur.
# Value her şey olabilir ancak key int, str, tuple, float, boolean olabilir. Ancak liste ve dict "key" olarak tanımlanamaz
first_dict = {1 : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1,2):"clrswy"}
first_dict

In [ ]:
# Dict'te accesing [ ] içine key ler yazılır
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta'
                 }
print(state_capitals["Arkansas"])   # accesing method
print(state_capitals["Colorado"])
print(state_capitals["California"])
print(state_capitals["Georgia"])

In [ ]:
print(state_capitals)

In [ ]:
sehir = "istanbul"
sehir1 = "ankara"
nüfus = 1000

In [ ]:
sehirler = {1 : sehir, 2 : sehir1, "nüfusum" : nüfus}
print(sehirler)

In [ ]:
sehirler[2]

In [ ]:
sehirler['nüfusum']

In [ ]:
# yeni bir item atama da yapabiliriz veya mevcut key'in değerini de değiştirebiliriz.
state_capitals['Virginia'] = 'Richmond'
state_capitals

In [ ]:
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

In [ ]:
family = { 'name1': 'Elif','name2': 'Mesut', 'name3': 'Cihat'}
family

In [ ]:
family['name4'] = "Nihat"
family

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict) # dict() fonksiyonunu kullanırken stringi stringe atayamayız. Değişkenlere değer atıyor gibi tanımlayacağız.

In [ ]:
dict(name1 = 'Elif', name2 = 'Mesut', name3 = 'Cihat', name4 = 'Nihat') # dict() fonksiyonunu kullanarak yeni bir dict tanımladık.

Main Operation With dicts

In [ ]:
# item'lar .items() methodunu
# key'ler .keys() metodunu
# value'lar .values() metodunu kullanır
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}
print(dict_by_dict.items(), '\n') # Çıktıda items tuple tuple ayrılır. Yani her bir item bir tuple'den oluşur
print(dict_by_dict.keys(), '\n') # keys ve values liste olarak döner.
print(dict_by_dict.values())

In [ ]:
family = {'name1': 'Elif', 'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat'} # items, keys ve values liste şeklinde çıktı aldık.
print(list(family.items()), '\n')
print(list(family.keys()), '\n')
print(list(family.values()))

In [ ]:
# .update() metodu: .append() metodu gibi dict formatında bir veriyi dict'in sonuna ekleme yapar.
family.update({'name5':'Fatma'})
print(family)

In [ ]:
family.update({"a" : 1, "b" : 2}) # Birden fazla item ekleyebiliriz.
family

In [ ]:
# .update() metodu: .append() metodu gibi dict formatında bir veriyi dict'in sonuna ekleme yapar.
family.update({'person':'ali'})
print(family)

In [ ]:
# del fonksiyonu item'ı siler.
# del dict_name[key]
del family['name1']

In [ ]:
print(family)

In [ ]:
del family['b']

In [ ]:
print(family)

In [ ]:
# tek satırda birden fazla item silme:

del family['name2'], family['name3']

In [ ]:
print(family)

In [ ]:
#  key'ler üstünde in  veya not in operatörlerini kullanabiliriz. True ya da False sonucu döndürecek.
family_2 = {'name1': 'Elif', 'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat'}
print(family_2)

In [ ]:
print('name1' in family_2, '\n')
print('name2' not in family_2, '\n')
print('Elif' not in family_2)

********   NESTED DİCTİONARY   *******

In [ ]:
# school_records'ın 2 item'ı var. Value'lar dict üzerinden derinleşir yani valu iç içe bir sürü dict'ten oluşabilir.. Key'lerde dict olmaz.
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },
        },
}
# geleneksel accesing metodu [ ] ile nested dict'lere de ulaşabiliriz.

In [ ]:
print(school_records['personal_info']['teen']['marry']['age'])

In [ ]:
print(school_records['grades_info']['teen']['joseph'])

In [ ]:
aaaa = school_records["grades_info"]["teen"]["joseph"].items()

In [ ]:
list(aaaa)

In [ ]:
friends = {
    "friend1" : {"first" : "Sue", "last" : "Bold"},
    "friend2" : {"first" : "Steve", "last" : "Smith"},
    "friend3" : {"first" : "Sergio", "last" : "Tatoo"}
}

In [ ]:

favourite = {
    'friends' : {
        "friend1" : {"first" : "Sue", "last" : "Bold"},
        "friend2" : {"first" : "Steve", "last" : "Smith"},
        "friend3" : {"first" : "Sergio", "last" : "Tatoo"}
    },
    'family' : {
        'name1': {'first' :'Elif', 'last' : 'Tascı'},
        'name2': {'first' :'Mesut', 'last' : 'Tascı'},
        'name3': {'first' :'Cihat', 'last' : 'Tascı'}
    }
}

In [ ]:
print(favourite)

*****SETS*****

In [ ]:
# tekrara izin yok,  unique2leri seçip almak istersek kümeleri kullanabiliriz
# union, intersection, difference işlemlerini yapabilirim.
# elemanları her seferinde çıktı alırken farklı farklı sıralarda olabilir. unordered...
# küme oluştururken set() fonksiyonunu kullanırız.
set_1 = {'red', 'blue', 'pink', 'red'}
print(set_1)

In [ ]:
colors = 'red', 'blue', 'pink', 'red' #iterable olan tuple ı alıp set fonksiyonu uyguladık.
set_2 = set(colors)
print(set_2)

In [ ]:
letter = "a b c d e f g h i j k l m n o p r s t u v y z"
print(set(letter))
letter = "a b c d e f g h i j k l m n o p r s t u v y z".split()
print(letter)

In [ ]:
print(set(letter)) # sıralama unordered olur.

In [ ]:
empty_set = set() # boş bir küme sadece set() fonksiyonuyla oluşturulur. {} ile dict oluşturabiliriz.

print(type(empty_set))

Main Operations with Sets

In [ ]:
# .add() : Adds a new item to the set.

# .remove() : Allows us to delete an item.

# .intersection() : Returns the intersection of two sets.

# .union() : Returns the unification of two sets.

# .difference() : Gets the difference of two sets.

In [ ]:
a = set('abracadabra')
a

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

In [ ]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

In [ ]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

In [ ]:
date = '05/05/2021'
print(set(date))

In [ ]:
boş = {date} # {} kümeye çevirdiğimiz zaman tek str içeren elemanı olan bir küme verdi.
print(boş)

In [ ]:
given_list = [1,2,3,3,3,3,4,4,5,5,] #unique ler set() fonksiyonuyla bulunabilir.
set(given_list)

In [ ]:
new_z = set("Wellington")
u_s_a = set("Washington")
print(new_z.intersection(u_s_a))
print(new_z.union(u_s_a))
print(u_s_a.difference(new_z))
print(new_z.difference(u_s_a))

Control Flow Statements

In [ ]:
# bir program akışını kontrol etmemize yarayan syntax lardır.
# kodlarımızın çalışmasını belli koşullara bağlar
# aldığımız koşul döngülere yarayabilir, programımızı istediğimiz kadar çalıştırır.
# Bunlar conditionals ve loops lardır.

Conditional Statements

if codition

In [ ]:
#                     if condition :------------->>>>> Bu koşul True veya False verecek.
# indentation<<<<<<-------body

In [ ]:
if condition:
    body
    body2
body3 # python girintiyi özel bir karakter olarak algılar.

In [ ]:
if True:
    print("it is true")

In [ ]:
if 1:  # Çünkü bir truety dir. Bu nedenle çıktı verir.
    print("ben")

In [ ]:
if None: # Falsy değerlerde döndürmez
    print("ben")

In [ ]:
"ahmet" == "ahmet"

In [ ]:
"mehmet" <= "mehmet"

In [ ]:
minced = True
bread = True

#greens
lettuce = True
pepper = False

store = True

In [ ]:
hamburger = (minced and store and bread) and (lettuce or pepper)

In [ ]:
hamburger

In [ ]:
if hamburger :
    print("Bon Apetite")

COMPARİSON OPERATOR

In [ ]:
# <, >, ==, !=, <=, >= Bu operatörler True ya da False döndürür.

In [ ]:
set1 = set("TWELVE PLUS ONE")
set2 = set("ELEVEN PLUS TWO")
print(set1)
print(set2)
print(set1 == set2)
print(set1 < set2)
print(set1 > set2)
print(set1 != set2)
print(set1 <= set2)
print(set1 >= set2)

In [ ]:
convert = input("Enter Yes or No : ").title().strip() == "Yes"
print("You entered :", convert)

In [ ]:
print("You entered :", input("Enter Yes or No : ").title().strip() == "Yes")

In [ ]:
print("You entered :", input("Enter Yes or No : ").title().strip() == "Yes")

if - else statements

In [ ]:
if condition1:
    execute body1
else : # if condition1 is not ensured execute body2
    execute body2

In [ ]:
course = 'clarusway'

if course == "clarusway":
    print("you guaranteed the job")
else:
    print("think about it again")

In [ ]:
number = int(input("Enter a number :"))
if number % 2 == 0 :
    print(number, "is even")
else :
    print(number, "is odd")

In [ ]:
number = int(input("enter a number : "))
if number % 2 == 0 :
    print("{} is Even".format(number))
else :
    print("{} is Odd".format(number))

In [ ]:
number = float(input("enter a number : "))
if number > 0 :
    print("Positive number")
else :
    print("Negative number")

In [ ]:
number1 =  float(input("enter a number : "))
number2 =  float(input("enter another number : "))
if number1 > number2 :
    print("The large number is", number1)
else:
    print("The large number is", number2)

In [ ]:
num1 = float(input("Enter first number :"))
num2 = float(input("Enter second number :"))

if num1 > num2 :
    larger = num1
else :
    larger = num2

print("The larger number is :", larger)

In [ ]:
bool_value = True
if bool_value :
    print("Yes")
else:
    print("No")

if - elif -else statement

In [ ]:
# if for the ﬁrst one,
# elif for the rest, up until the ﬁnal (optional),
# else for anything not caught by the other conditionals.

In [ ]:
if condition1:
    execute body1

elif condition2:  #istediğimiz kadar elif koyabiliriz.
    execute body2

else:
    execute body3

In [ ]:
audience = "baby"

if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

Nested if-elif-else

In [ ]:
number =  []
number.append(int(input("Enter a number : ")))
number.append(int(input("Enter a number : ")))
number.append(int(input("Enter a number : ")))
number.sort(reverse = True)
print("The largest number is: ", number[0])

In [ ]:
num1 = float(input("Enter the first number : "))
num2 = float(input("Enter the second number : "))
num3 = float(input("Enter the third number : "))
if (num1 > num2) and (num1 > num3) :
    largest = num1
elif (num2 > num1) and (num2 > num3) :
    largest = num2
else:
    largest = num3
print("the largest number is :", largest)

In [ ]:
number = float(input("enter a number : "))
if number > 0 :
    print("Positive number")
elif number == 0 :
        print("Zero")
else :
    print("Negative number")

In [ ]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

In [ ]:
score = float(input("Enter your score: ")) # Bu çözüm doğru ama nested değil.
if score >= 95 :
    print("Your degree is A+")
elif score < 95 and score >= 90 :
        print("Your degree is A")
elif  score < 90 and score >= 85 :
        print("Your degree is B+")
elif score < 85 and score >= 80 :
        print("Your degree is B")
else :
    score > 80
    print("Your degree is B-")

In [ ]:
score = floatint(input("Enter your score : ")) # Bu cevap nested

if score >= 90 :
    if score >= 95 :
        degree = "A+"
    else :
        degree = "A"
elif score >= 80 :
    if score >= 85 :
        degree = "B+"
    else :
        degree = "B"
else:
    degree = "B-"

print("Your degree is : ", degree)

LOOPS

In [ ]:
# Döngüler, bir kod bloğunun yürütülmesini tekrarlamak (yinelemek) için kullanılır.
# WHİLE döngüleri koşul True olduğu müddetçe body'sini döndürür.
#  for loop'lar kaç kez iterate edileceğini sayar

In [ ]:
while condition: #her döngüde buradaki conditionu kontrol eder.
   body

In [ ]:
while 1 : # koşul Truety olduğu için sonsuza kadar "bir" yazdırır.
    print("bir")
    break #

In [ ]:
while 0 : # koşul Falsy olduğu için döngüden çıkar print("bir") 'i yazdırmaz. ve 2 yazdırır.
    print("bir")
print(2)

In [ ]:
number = 0

while number < 6:
    print(number)
    number += 1

print('now, number is bigger or equal to 6')

In [ ]:
my_list=["a", "b", "c", "d", "e"]

a = 0

while a < len(my_list):
    a+=1
    print('square of {} is : {}'.format(a, a**2))

In [ ]:
age = input("Enter your age : ")

while not age.isdigit() :
    print("You entered incorrectly!")
    age = input("Enter your age correctly please : ")

print("Great! You entered valid age :", age)

In [ ]:
#  .isdigit() metodu stringin bir metodudur.
"onaltı".isdigit() # numeric olmayan karakterleri False döndürür.

In [ ]:
"16".isdigit() #numeric olan string değerleri True döndürür.

In [ ]:
my_num = 45
numbers = int(input("Enter a number :"))
while numbers != my_num :
    if numbers > my_num :
        print("Little lower!")
        numbers = int(input("Enter a number again :"))
    elif numbers < my_num :
        print("Little higher!")
        numbers = int(input("Enter a number again :"))
else :
    numbers = my_num
    print("You are right")

Question: The Most Frequent Numbers:

In [ ]:
numbers = [-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]

In [ ]:
max(1,2,3)

In [ ]:
sequence = [1,1,1,1,2,2,2,3,3,4]
max(sequence)

In [ ]:
sequence.count(4)

In [ ]:
sequence.count(3)

In [ ]:
numbers = [-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]

In [ ]:
max(numbers)

In [ ]:
numbers.count(3)

In [ ]:
item = max(numbers, key = numbers.count)

In [ ]:
item

In [ ]:
numbers.count(max(numbers, key = numbers.count))

In [ ]:
numbers.count(item)

Comfortable words

In [ ]:
left = set("qwertasdfgzxcvb")
right = set("yuiophjklmn")
word = set(str(input("Enter a word! ")))
leftcheck = word.intersection(left)
rightcheck = word.intersection(right)
print(bool(leftcheck and rightcheck))

In [ ]:
left = set("qwertasdfgzxcvb")
right = set("yuiophjklmn")

In [ ]:
left

In [ ]:
right

In [ ]:
word = set("clarusway")

In [ ]:
leftcheck = word.intersection(left)
rightcheck = word.intersection(right)

In [ ]:
print(bool(leftcheck and rightcheck))

In [ ]:
leftcheck

In [ ]:
rightcheck

In [ ]:
sentence = input("give me a sentence :")

words = sentence.split()
i = 0
longest = 0
while i < len(words) :
    if len(words[i]) > longest :
        longest = len(words[i])
    i += 1

print("the lengt of the longest word is :", longest)

In [ ]:
"ben bir cümle girmiş olayım".split()

for LOOP

In [ ]:
# for loop yapısı aşaüıdaki gibidir.
for variable in iterable :
    code block

In [ ]:
for i in [1, 2, 3, 4, 5] :  # for loop iterable sırayla ve teker teker alır ve değişkenin içine atar.
    print(i)

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']

for season in seasons :
    print(season)

In [ ]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]
for i in name:
    print("Hello! ", i)

In [ ]:
sayılar = []

for i in range(1,6) :
    sayılar.append(i)
print(sayılar)

In [ ]:
eleman = "ahmet -, clarusway[]"

In [ ]:
for i in eleman :
    print(i, end = "//")

In [ ]:
word = input("Give me a word :")

count = 0
for i in word :
    count += 1
    if count < len(word) :
        i = i + "-"
    print(i, end = "")

In [ ]:
word = input("Give me a word :")

count = 0
for i in word :
    count += 1
    if count < len(word) :
        i = i + "-"
    print(i,end = "")

In [ ]:
# Python iterate ettiğimiz dictionary de sadece key'leri alır.
user = {
    "name": "Daniel",
    "surname" : "Smith",
    "age" : 35
}
for attribute in user :
    print(attribute)

Samanlıkta iğne arayalım mı?

In [ ]:
# bir değişkenin içindeki herhangi bir verinin index numarasını nu şekilde öğrenebiliriz.
samanlık = ["yumurta", "yaba", "inek", "iğne", "saman", "tezek", "tırmık" ]
print(f"iğne {samanlık.index('iğne')} numaralı indexte.")

#### Tuple kullanarak çoklu değer assign etmek

In [ ]:
v = ("five", 5, True)
(x,y,z) = v
print(x, y, z)

In [ ]:
(monday, tuesday, wednesday, thursday, friday, saturday, sunday) = tuple(range(1,8))

In [ ]:
sunday

In [ ]:
#  BİZE KENDİNİ KAPATAN KETUM DAVRANAN FONKSİYONLARA:
#  1. for döngüleriyle
#  2. collections larla
#  3. * ile görsel hale getirebiliriz.

In [ ]:
print([1,2,3,4] + ["11", "22", 33])

In [ ]:
tt = (1,2, [1,3,5])

In [ ]:
tt[2].append(4)

In [ ]:
tt

In [ ]:
x, y = (10, 20)

In [ ]:
print(x)
print(y)

In [ ]:
a, b = (10, 20, 30, 40)

In [ ]:
a, _, b, _ = (10,20,30,40)

In [ ]:
print(a,b)

In [ ]:
x, y, z =(11,22,33,44,55)

In [ ]:
x, y, *z = (11,22,33,44,55,66) # Başına yıldız koyunca diğer tüm değerleri yıldızın altında topluyor.
print(x)
print(y)
print(z)

In [ ]:
x, y, *z, t = (11,22,33,44,55,66,77) # Aradakilerin hepsini *z içine atar.
print(t)

In [ ]:
x, y, *_, t, w = (11,22,33,44,55,66,77,88)
print(t)

In [ ]:
isimler = {"ali" : 33,
           "veli" : 44,
           "ayşe" : 2}

In [ ]:
isimler.items()

In [ ]:
for a, b in isimler.items() :
    print(a,b)

In [ ]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times):
    print('I love you')

In [ ]:
number = int(input("Enter a number betwen 0 - 10 :"))

for i  in range(11) :

    print("{}x{} = ".format(number, i), number * i)

In [ ]:
number = int(input("Enter a number between 1-10 :"))

for i in range(11) :
    print("{}x{} = {}".format(number, i, number*i))

In [ ]:
seq = range(5)

In [ ]:
for i in seq :
    print(i)

In [ ]:
print(list(seq))

In [ ]:
print(tuple(seq))

In [ ]:
print(* seq)

In [ ]:
print(* "separate")

In [ ]:
isimler = ["tarık", "sevda", "selim"]
yaşlar = [11, 22, 33]

In [ ]:
xx = zip(isimler, yaşlar) # zip() fonksiyonu herbir elemanı tuple tuple birleştirir.

In [ ]:
print(list(xx)) # Bir kez içini boşaltttıktan sonra artık iterate edemeyiz.

In [ ]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
city = ["Tokyo", "Kiev", "Mekke", "İstanbul", "Washington"]

In [ ]:
print(zip(text, numbers)) # zip içi görünür değil, 3 yöntem var: collection, * ve for loop ile görünür yapabilirim.

In [ ]:
list(zip(text, numbers))

In [ ]:
print(* zip(text, numbers))

In [ ]:
print(* zip(text, numbers, city))

In [ ]:
evens = []
odd = []
for n in range(10) :
    if n%2 == 0 :
        evens.append(n)
    else :
        odd.append(n)
print(evens)
print(odd)

In [ ]:
numbers = [11, 36, 33, 66, 89, 21, 32, 16, 10]

In [ ]:
evens = 0
odds = 0

for i in numbers :
    if not i%2 :
        evens += 1
    else:
        odds += 1
print("The count of even numbers : ", evens)
print("The count of odd numbers : ", odds)

In [ ]:
for i in range(9):
    i += 1
    print(str(i) * i)

In [ ]:
toplam = 0

for i in range(1, 75) :
    toplam = toplam + i
toplam

NESTED for LOOPS

In [ ]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(i + ii)

In [ ]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]
for i in names:
    for ii in mood:
        print(i+" is "+ii)

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]

In [ ]:
new_list = []

In [ ]:
for i in my_list :
    if i % 2 :
        new_list.append(i ** 2)
new_list

## list comprehension'ların temel yapısı :

```python
[expression for item in iterable]


for item in iterable :
    expression
```

In [ ]:
listem = []
for i in range(5):
    listem.append(i)
listem

In [ ]:
[i for i in range(5)]

In [ ]:
listem = []
for i in range(5):
    listem.append(i**2)
listem

In [ ]:
[i**2 for i in range(5)]

In [ ]:
condition = True

if condition :
    a = 1
else :
    a = 0

print(a)

In [ ]:
a=1 if 2 < 4 else 0
print(a)

## ternary `if ` condition yapısı

```python
execute-body1 if condition else execute-body2
```

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]

In [ ]:
[i ** 2 for i in my_list if i%2]

In [ ]:
new_list = []
for i in my_list :
    if i % 2 :
        new_list.append(i ** 2)
new_list

In [ ]:
[i ** 2 for i in my_list if not i%2]

In [ ]:
a = [i ** 2 for i in my_list if not i%2]
a

In [ ]:
a = (i**2 for i in my_list)

In [ ]:
a

In [ ]:
print(*a)

In [ ]:
for i in a:
    print(i)

In [ ]:
a = (i**2 for i in my_list)

print(next(a))

In [ ]:
print(next(a))

In [ ]:
print(next(a))

In [ ]:
print(next(a))

In [ ]:
print(next(a))

In [ ]:
print(next(a))

In [ ]:
print(next(a))

In [ ]:
print(*range(5))

In [ ]:

lower = 1
upper = int(input("Enter upper range: "))

for num in range(lower,upper + 1):
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)

In [ ]:
for fizzbuzz in range(101):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("FizzBuzz")

    elif fizzbuzz % 3 == 0:
        print("Fizz")

    elif fizzbuzz % 5 == 0:
        print("Buzz")

    print(fizzbuzz)

In [ ]:
terim_say = 55
# first two terms
n1, n2 = 0, 1
count = 0
while count < terim_say:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1